body{
    margin: 0;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 80vh;
    background-image: url(https://www.hulu.com/static/hitch/s3/2020-04/Homepage_Masthead_Test_TREATMENT_1536x1320-v4b_Tablet_0.jpg?nEbSE3Tu4GiJOym6WaNbx2Psd9UlQrGN);
    background-repeat: no-repeat;
    background-size: 100%;
}

p {
    color: white;
}

a {
    color: white;
}

.nav {
    padding: 1.5em;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.intro {
    text-align: center;
    color: white;
    padding: 2em;
}

h1 {
    font: bold 60px Almarai, sans-serif; 
}

h2 {
    font: 20px Almarai, sans-serif;
}

#offer {
    padding: 2em;
    display: flex;
    align-content: space-between;
    background-image: linear-gradient( rgb(1, 34, 39), rgb(2, 65, 77));
    width: 95vw;
    height: 30vh;
}    

.bundle {
    width: 25vw;
    height:10vh;
}

.getBundle {
    width: 25vw;
    height:10vh;
}

.content {
    width: 100vw;
    height: 240vh;
    background-image: url(https://www.hulu.com/static/hitch/s3/2019-11/Welcome-ContentBlock-Desktop%20.jpg?jG5AfMZ.bGHD8c3NgPVsML79Im6UkUSW);
    background-size: 1300px 1100px;
    background-repeat: no-repeat;
}